@font-face{
	font-family:"Doom";
	src:url("../fonts/Doom.ttf");
	font-weight:normal;
	font-style:normal;
}

@font-face{
	font-family:"Myriad Pro";
	src:url("../fonts/MyriadPro-Regular.otf");
	font-weight:normal;
	font-style:normal;
}


body {
  background-image: url("../images/background.png");
  background-position: center top;
  background-color: black;
}

#wonderfix {
	position:absolute;
	top: 0;
	margin: auto;
	width: 100%;
	height: 95px;
	background-image: url("../images/wonderfix.png");
	background-position: center top;
	z-index: 1000;
}

#content {
	width: 100%;
	text-align: center;
	margin-top: 118px;
}

#content #viewport {
	width: 640px;
	margin: 0 auto;
	height: 400px;
	position: relative;
}

#week {
	position: absolute;
	background-image:url("../images/week-sign.png");
	width: 180px;
	height: 115px;
	top: -60px;
	right: -210px;
	font-family: "Doom",Sans-Serif;
	font-size: 15pt;
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	margin: 0 0 10px 14px;
	text-shadow: 0 0 1.2em #FFFFFF;
}

#videograph {
	width: 640px;
	height: 50px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

h1 {
	color: #788BAC;
	font-family: "Myriad Pro", Sans-Serif;
	font-size: 15pt;
	position: absolute;
	top: 25px;
	left: 10px;
}

#week p {
	position: relative;
	margin: auto 15px;
	top: 70px;
}

#legend {
    background-color: #003355;
    color: white;
	font-family: "Doom",Sans-Serif;
	text-shadow: 0 0 1.2em #ffffff;	
    font-size: 14pt;
    height: 50px;
    line-height: 50px;
    opacity: 0.5;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 9000;
}
